<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Shop</title>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
<div class="content">
    <p th:text="${searchedText}"></p>
    <header>
        <h1>My Shop</h1>
        <hr>
        <nav>
            <a href="/only_available/" >only available</a>
            <a href="/cheapest_first/">cheapest first</a>
            <a href="/contains_nike/">contains nike</a>
            <a href="/average_stock/">average stock</a>
            <a href="/most_expensive_available/">most expensive available</a>
        </nav>
    </header>
    <div class="search-container">
        <form action="/search_result" name="searchForm" method="post">
            <label for="search-container">Search for:</label>
            <div class="search-container" id="search-container">
                <input type="text" placeholder="...something like nike" name="search" id="searchInput">
                <button type="submit" id="searchBtn">Search</button>
            </div>
        </form>
    </div>
    <table class="table table-hover">
        <thead>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity of stock</th>
        </thead>
        <tr th:each="item : ${shop}" th:classappend="${item.stock}<=0 ? 'table-warning' : ''" >
            <td th:text="${item.name}"></td>
            <td><span th:text="${item.description}"></span></td>
            <td><span th:text="${#numbers.formatDecimal(item.price, 0, 'WHITESPACE', 2, 'POINT')}">0.00</span> Kč</td>
            <td th:text="${item.stock}"></td>
        </tr>
    </table>
</div>
</body>
</html>