<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" href="styles.css">
	<title>Green Fox Programmer Club</title>
</head>
<body>
<div class="container">
	<nav class="navbar navbar-dark">
		<a class="navbar-brand nav-link disabled" th:href="@{/}">information</a>
		<a class="navbar-brand nav-link" th:href="@{/login}">login</a>
		<a class="navbar-brand nav-link" th:href="@{/nutrition-store}">nutrition</a>
		<a class="navbar-brand nav-link" th:href="@{/trick-center}">trick center</a>
		<a class="navbar-brand nav-link" th:href="@{/action-history}">action history</a>
	</nav>
	<h2>Information about <span th:text="${fox.getName()}"></span></h2>
	<img src="greenfox.png" alt="green fox png" >
	<div>
		This is <span th:text="${fox.getName()}"></span>. Currently living on <span th:text="${fox.getFood().name}"></span> and <span th:text="${fox.getDrink().name}"></span>.<span th:unless="${fox.trickList.isEmpty()}"> It knows few tricks.</span>
	</div>
	<br>
	<div id="known-tricks">
		<h4>Known tricks</h4>
		<p th:if="${fox.trickList.isEmpty()}">Does not know any of the tricks. Teach him!</p>
		<ul th:each="trick: ${fox.trickList}">
			<li th:text="${trick.name}"></li>
		</ul>
		</p>
	</div>
	<div id="action-history">
		<h4>Action History</h4>
		<p th:if="${fox.getActionList(5).isEmpty()}">Does not have history so far!</p>
		<ul th:each="action: ${fox.getActionList(5)}">
			<li th:text="${action}"></li>
		</ul>
		</p>
	</div>
</div>
</body>
</html>