<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" href="styles.css">
	<title>Green Fox Programmer Club</title>
</head>
<body>
<div class="container">
	<nav>
		<a href="/information/" >information</a>
	</nav>
	<img src="greenfox.png" alt="green fox png" >
	<div>
		This is Mr. Fox. It knows few tricks.
	</div>
	<div id="known-tricks">
		<h2>Known tricks</h2>
		<ul>
			<li>write code</li>
			<li>code in Java</li>
		</ul>
		</p>
	</div>
</div>
</body>
</html>