<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" href="/styles.css">
	<title>Login GF Programmer Club</title>
</head>
<body>
<div class="container">
	<nav class="navbar navbar-dark">
		<a class="navbar-brand nav-link" th:href="@{/}">information</a>
		<a class="navbar-brand  nav-link disabled" th:href="@{/login}">login</a>
		<a class="navbar-brand nav-link" th:href="@{/nutrition-store}">nutrition</a>
		<a class="navbar-brand nav-link" th:href="@{/trick-center}">trick center</a>
		<a class="navbar-brand nav-link" th:href="@{/action-history}">action history</a>
	</nav>
	<h2>Login</h2>
	<form action="/login" method="post" name="login-form">
		<div class="form-group">
			<label for="name">Name of your fox:</label>
			<input class="form-control" type="text" name="name" id="name" required>
			<input class="btn btn-primary" type="submit" value="Find or create!">
		</div>
	</form>
	<div th:if="${!foxList.isEmpty()}">
		<ul th:each="fox:${foxList}">
			<li><a th:href="@{/login(name=${fox.getName()})}" th:text="'Login as '+${fox.getName()}"></a></li>
		</ul>
	</div>
</div>
</body>
</html>