<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Assignees</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
<h1>Assignees:</h1>
<h5><a href="/todo">All ToDoes</a></h5>
<table class="table table-hover">
	<thead>
		<td>id</td>
		<td>name</td>
		<td>email</td>
		<td></td>
		<td></td>
	</thead>
	<tr th:each="assignee:${assignees}">
		<td th:text="${assignee.id}"></td>
		<td th:text="${assignee.name}"></td>
		<td th:text="${assignee.email}"></td>
		<td> <a th:href=|/todo/assignee/${assignee.id}/delete|>delete</a></td>
		<td> <a th:href=|/todo/assignee/${assignee.id}/edit|>edit</a></td>
	</tr>
</table>
</body>
</html>